
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
}

body {
  color: #3e454b;
  font-family: $sans-serif-small;
  font-size: 87.5%;
  line-height: 1.66667;
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {
  font-size: 2.857em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.143em;
}

h4 {
  font-size: 1.857em;
}

h5 {
  font-size: 1.571em;
}

h6 {
  font-size: 1.429em;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em;
}

p {
  margin: 0 0 12.5px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
address {
  font-style: normal;
  line-height: 1.25;
  margin: 0 0 12.5px;
}


ul,
ol {
  margin: 0 0 0.5em;
  padding: 0;
}


li {
  padding: 0;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}

.contextual-links-trigger {
  line-height: 1.5;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Wraps the header
 */
#header-wrapper {
  @include box-shadow(#000 0 0 4px 0);

  background: $midgreen url(images/menubar-bg.png) 0 0 repeat-x;
  border-bottom: 7px solid $darkgreen;
  position: relative;
  z-index: 500;
}

/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {
  background-size: cover;
  .giving-front & {
    background: url(images/giving-bg-sm.jpg) center bottom no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
    .secondary-inner {
      position: relative;
      .block {
        margin-bottom: 0;
      }
    }
  }
}

/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {
  background: #6E9DC2 url(images/giving-story-bg.jpg) 0 0 repeat;
  .container {}
}

/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Logo
 */
#logo {
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 9px 0);
  background: none repeat scroll 0% 0% #FFF;
  border-bottom: 7px solid #216093;
  margin-bottom: -7px;
  max-width: 380px;
  a {
    display: block;
    height: 80px;
    padding: 40px 30px 0;
    img {
      vertical-align: bottom;
    }
  }
}

/*
 * Site name (h1)
 */
#site-name {
  margin: 0;

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/*
 * Site slogan (h2)
 */
#site-slogan {
  margin: 0;
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * The main page title (h1)
 */
.title-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 500;

  .giving-front & {
    position: static;
  }

  #page-title {
    color: #FFF;
    line-height: 40px;
    padding: 10px;
    text-transform: uppercase;

    .giving-front & {
      line-height: 60px;
      padding: 0;
      text-align: center;
    }
  }
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
  padding: 0;
}


/*
 * Attribution message and link
 */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.italic {
  font-style: italic;
}
.text-center {
  text-align: center;
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Sidebars - targets both
 */
.sidebar {

  .region-inner {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;

  #content-column &:link,
  #content-column &:visited {
    color: $blue;
    font-weight: bold;
    &.green-link,
    &.green-link-small {
      color: #FFF;
      font-weight: normal;
    }
  }
  #content-column .field-name-field-donate-link & {
    color: #FFF;
    font-weight: normal;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

.nav {
  clear: both;
  margin: 10px 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 10px;
  }

  .block {
    margin-bottom: 0;
  }
}


/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;
  }

  li {
    &:hover,
    &.sfHover {
      outline: 0;
    }
  }

  a {
    &:focus,
    &:hover,
    &:active {
      outline: 0;
    }
  }
}


/*
 * Superfish blocks
 */
.block-superfish {

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}


/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;

  li {
    width: 100%;

    &:hover ul,
    &.sfHover ul {
      left: 100%;
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
    }
  }
}


/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}


/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}


/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
// .at-mt is a page class
.at-mt {
  .at-menu-toggle,
  .at-menu-toggle ul,
  .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .at-menu-toggle-button {
    margin: 0;
  }

  .at-menu-toggle ul a {
    white-space: nowrap;
  }
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  ul {
    padding-left: 15px;

  }

  li {
    margin: 0;
  }
}

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  padding: 10px 0 !important;
  text-align: center;
  .ajax-progress {
    display: none;
  }
}


.item-list ul.pager li {
  margin: 0;
  padding: 0 1em;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}


.block ul.pager li {
  margin: 0;
}


/*
 * Theme the various states of pager links
 */
ul.pager li {
  border-left: #f7fafc 1px solid;
  font-size: 15px;
  a {

    &:link,
    &:visited {
      color: #f7fafc;
    }
  }

  &.first {
    border: none;
  }
  &.pager-current {
    color: #555;
    &.first:before,
    &.last:after {
      content: "";
      @include border-radius(50%);
      background: #FFF url('images/giving-pager.png') 8px top no-repeat;
      display: inline-block !important;
      height: 22px;
      width: 22px;
      vertical-align: -6px;
    }
    &.first {
      padding-left: 0;
      &:before {
        @include transform(scaleX(-1));
        filter: flipH;
        -ms-filter: "FlipH";
        margin: 0 1em 0 0;
      }
    }
    &.last {
      padding-right: 0;
      &:after {
        margin: 0 0 0 1em;
      }
    }
  }
  &.pager-first {
    display: none;
  }
  &.pager-previous,
  &.pager-next {
    border: none;
    padding: 0;
    a {
      @include ir;
      @include border-radius(50%);
      background: #FFF url('images/giving-pager.png') 8px bottom no-repeat;
      display: inline-block !important;
      height: 22px;
      width: 22px;
      vertical-align: -6px;
    }
  }
  &.pager-previous {
    a {
      @include transform(scaleX(-1));
      filter: flipH;
      -ms-filter: "FlipH";
    }
    & + li {
      border: none;
    }
  }
  &.pager-last {
    display: none;
  }
}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $border;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $light;
        border-color: $border;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $page;
      border-bottom-color: $page;
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {

  /* Remove the margin on inline field lables to preserve vertical formatting */
  .field-label {
    margin: 0;
  }
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {

  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}


/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}


/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}



/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}


/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
.block-inner {
  
  .sidebar & {
    margin-left: 0;
    margin-right: 0;
  }
}

/*
 * Block title
 */
.block-title {
  margin: 0;
}

/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

/*
 * "Main page content" block
 */
#block-system-main {
  margin: 1.5em 0 3em;
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }
  h2,h3,h4,h5,h6 {
    margin: 0.75em 0 0.25em;
  }
  .giving-front & h2 {
    font-size: 3em;
    &:nth-of-type(2n-1) {
      color: $blue;
    }
  }
  .giving-front & h2 {
    color: $blue;
    font-size: 3em;
  }
  h2:nth-of-type(2n-1) {
    color: #678d40;
  }
  h2:nth-of-type(2n) {
    color: $blue;
  }
  ul,
  ol {
    padding: 0 0 0 15px;
    li {
      margin: 0 0 0.5em;
    }
  }
}

.node-type-campaign- #main-content ul.links,
.node-type-membership-level #main-content ul.links,
.node-type-giving-feature-block #main-content ul.links {
  padding: 20px 0 0;
  li.first {
    padding-left: 0;
  }
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;

  .node-title {
    margin: 0;
  }
}

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;
}


/*
 * Comment title
 */
.comment-title {
  margin: 0;
}

/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  .description {
    font-size: 0.85em;
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}

.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $border;
}

/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody tr {
  border-top: 1px solid $border;
}


tr {

  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}

/*
.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {
    }
  }
}*/


/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  &.created,
  &.posts,
  &.topics,
  &.last-reply,
  &.replies,
  &.pager {
    white-space: normal;
  }
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}


/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}


/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}

.field-name-field-header-image {
  max-height: 260px;
}

/**
* GIVING THEME STYLES
*/

// Header
.giving-front #block-fieldblock-node-giving-page-default-field-header-image {
  line-height: 0;
}
#block-views-giving-feature-blocks-block {
  @include clearfix;
  background: $green;
  color: #FFF;
  margin: 0px 10px;
  padding: 5px 0 15px;
  text-align: center;

  .views-row {
    width: 33.3%;
    float: left;

    .views-field-nothing {
      padding: 5px 20px 0;
    }

    &.views-row-2 .views-field-nothing {
      border-left: #FFF 1px solid;
      border-right: #FFF 1px solid;
    }

    .views-field-field-image {
      display: inline-block;
      margin-top: -35px;
      position: relative;

      a {
        @include border-radius(50%);
        @include box-shadow(rgba(0,0,0,0.25) 0 -1px 5px 0);
        background: none repeat scroll 0% 0% #FFF;
        display: block;
        height: 54px;
        width: 54px;
        line-height: 1;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          @include center(xy);
        }
      }
    }

    .views-field-title {
      h5 {
        margin: 3px 0 7px;
        text-transform: uppercase;
      }
    }

    .views-field-body {
      margin: 0 0 15px;
    }

    a {
      color: #FFF;
    }
  }
}

// Giving Today
.give-today-block {
  margin-bottom: 0;
  h3.give {
    background: #FFF;
    margin: 0;
    line-height: 60px;
    text-transform: uppercase;
    .win.ff & {
      @include border-box;
      line-height: 54px;
      padding-top: 6px;
    }

    a {
      color: $green;
      display: block;
      padding: 0 25px;
      text-align: center;
    }
  }
  .description {
    background: $blue;
    border-bottom: #FFF 2px solid;
    color: #FFF;
    font-size: 13px;
    line-height: 22px;
    padding: 20px;
  }
  .links {
    background: $green;
    padding: 0;
    li {
      border-bottom: rgba(255,255,255,0.4) 1px solid;
      display: block;
      text-transform: uppercase;

      &.last {
        border: none;
      }
      a {
        @include transition(background-color 0.5s);
        color: #FFF;
        display: block;
        line-height: 65px;
        padding: 0 25px;
        font-size: 18px;
        letter-spacing: 0.5px;

        &:hover {
          background-color: #678d40;

          span {
            background-position: 10px center;
            padding-left: 44px;
          }
        }

        span {
          @include transition(all 0.5s);
          background: url(images/giving-arrow-white.png) left center no-repeat;
          display: inline-block;
          padding-left: 34px;
        }
      }
    }
  }
}

/**
 * Giving Stories
 */
.node-type-giving-story,
.node-type-campaign- {
  .field-name-field-image {
    margin-bottom: 1em;
  }
}
.block-giving-stories-block,
.block-giving-stories-block-1 {
  padding-top: 50px;
  position: relative;

  .block-title {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 20px;
  }
}
.view-giving-stories {
  .view-header {
    position: absolute;
    top: 0;
    left: 50%;
    @include center(xy);
    .icon {
      background: $blue;
      @include border-radius(50%);
      border: #FFF 5px solid;
      img {
        display: block;
        padding: 17px;
      }
    }
  }
  .views-row {
    margin: 0 auto 10px;
    max-width: 350px;
    .views-field-field-image {
      a {
        display: block;
        line-height: 0;
      }
    }
    .views-field-nothing {
      background: #FFF;
      overflow: hidden;
      padding: 20px 40px 30px;
      .title {
        text-transform: uppercase;
        a {
          color: $green;
        }
      }
      .body {
        color: #3e454b;
        font-size: 13px;
        letter-spacing: 0.5px;
      }
    }
    .views-field-view-node {
      background: $green;
      a {
        @include transition(all 0.5s);
        color: #FFF;
        display: block;
        font-size: 18px;
        line-height: 50px;
        padding: 0 40px 0;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: url(images/readmore.png);
          margin: 0 0 0 10px;
          position: absolute;
          top: 1px;
        }
        &:hover {
          background-color: #678d40;
          text-decoration: none;
          padding: 0 30px 0 50px;
        }
      }
    }
  }
}

.green-link {
  padding: 0 110px 0 30px;
  line-height: 60px;
  background: #93B671 url(images/giving-button.jpg) right top no-repeat;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Crimson Text";
  font-size: 26px;
  display: inline-block;
  margin-top: 10px;
  &:hover {
    text-decoration: none;
  }
  .win.ff & {
    line-height: 55px;
    padding-top: 5px;
  }
}
.green-link-small,
.field-name-field-donate-link a {
  padding: 0 50px 0 20px;
  line-height: 40px;
  background: #93B671 url(images/giving-button.jpg) right center no-repeat;
  background-size: contain;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Crimson Text";
  font-size: 20px;
  display: block;
  &:hover {
    text-decoration: none;
  }
  .win.ff & {
    line-height: 36px;
    padding-top: 4px;
  }
}
.field-name-field-donate-link {
  @include clearfix;
  a {
    float: left;
    margin-top: 20px;
  }
}

/**
 * FOOTER
 */
#footer-wrapper {
  background: #222 url('/sites/all/themes/bootsass/images/footer-texture.jpg') 0 0 repeat;
  border-top: 7px solid #24292C;
  #footer {
    color: #FFF;
    padding: 5px 0 15px;
    font-family: $sans-serif-small;
    .node {
      margin-bottom: 0;
    }
    h2 {
      color: $midgreen;
      font-family: $sans-serif-small;
      font-size: 15px;
      margin-bottom: 12px;
      padding-top: 16px;
      text-transform: uppercase;
    }
    address {
      padding: 0 5px;
    }
    .block {
      margin-bottom: 0;
    }
    ul.menu {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0;
      & > li {
        display: block;
        position: relative;
        a {
          color: $offwhite;
          display: inline;
          font-size: 13px;
          padding: 0;
        }
      }
    }
    #block-views-flex-blocks-block-2 {
      clear: both;
      .panel {
        border-bottom: $gray 1px solid;
        font-size: 15px;
        line-height: 1.25;
        margin-bottom: 16px;
        padding: 16px 0;
        h2 {
          border-bottom: $gray 1px solid;
          color: $offwhite;
          font-size: 15px;
          margin: 0 0 9px;
          padding: 0 5px 9px;
        }
        p {
          padding: 0 5px;
        }
        a {
          color: #FFF;
        }
        .logo {
          @include border-box;
          background: url('/sites/all/themes/bootsass/images/footer-logo.png') no-repeat scroll 5px 0px / contain;
          display: block;
          height: 60px;
          margin-bottom: -7px;
          margin-left: -7px;
          max-width: 100%;
          text-indent: -9999em;
          width: 377px;
        }
      }
    }
    #block-menu-menu-browse-library,
    #block-menu-menu-about-the-mises-institute {
      float: left;
      width: 50%;
    }
    #block-menu-menu-mises-social-icons {
      ul.menu {
        li {
          display: inline-block;
          padding-right: 8px;
          padding-bottom: 16px;
          a {
            @include transition(all 0.2s);
            background-color: transparent;
            background-size: contain;
            display: inline-block;
            height: 32px;
            opacity: 0.7;
            padding: 0;
            text-indent: -9999em;
            width: 32px;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    #block-views-flex-blocks-block-3 {
      clear: both;
      font-size: 15px;
      padding-top: 20px;
    }
  }
}

/**
 * Areas to Support
 */
.view-areas-to-support {
  .views-row {
    @include clearfix;
    border-top: #CCC 1px solid;
    clear: both;
    padding: 20px;
    position: relative;
    .views-field-title {
      a {
        color: $green;
      }
    }
    .views-field-field-body {
      @include border-box;
      line-height: 1.4;
    }
  }
}

/**
 * Membership Levels
 */
.view-membership-levels {
  .views-row {
    @include clearfix;
    border-top: #CCC 1px solid;
    clear: both;
    padding: 20px;
    &.views-row-last {
      border-bottom: #CCC 1px solid;
    }
    .views-field-title {
      color: $blue;
      h5 {
        margin: 0;
      }
      .cost {
        white-space: nowrap;
      }
    }
    .views-field-body {
      @include border-box;
      line-height: 1.4;
      p {
        margin: 0;
      }
    }
  }
  .view-footer {
    @include clearfix;
    padding: 10px 20px 0px;
    p {
      margin: 0;
    }
    .green-link-small {
      float: right;
      margin: 5px 0;
    }
  }
}

.flexslider {
  line-height: 0;
  margin: 0 0 20px;
  position: relative;
  ul.slides {
    @include clearfix;
    padding: 0 !important;
    li {
      margin: 0 !important;
    }
  }
  .flex-direction-nav {
    li {
      list-style: none;
      margin: 0 !important;
      a {
        @include ir;
        @include transition(opacity 0.5s);
        background: $cleargreen url(images/giving-arrow-white.png) center no-repeat;
        opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 60px;
        z-index: 500;
        &.flex-prev {
          @include transform(scaleX(-1));
          filter: flipH;
          -ms-filter: "FlipH";
          left: 0;
        }
        &.flex-next {
          right: 0;
        }
      }
    }
  }
  &:hover .flex-direction-nav li a {
    opacity: 1;
  }
}