
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
 
/* Increase the body font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
#branding {
  margin: 0 auto;
  max-width: 100%;
  width: 380px;
}
#logo {
  margin-bottom: 0;
}
.at-mt .at-menu-toggle {

  .block-inner {
    margin: 0;
  }

  /* The toggle link */
  h2 {

    a {
      @include ir;
      border: 1px solid #FFF;
      display: block;
      height: 14px;
      float: right;
      margin: 8px 10px;
      padding: 9px 10px;
      width: 22px;
    }
  }

  .menu-toggle {
    clear: both;
  }

  /* Menu items */
  ul.menu li {
    padding: 1px 0;
    a {
      background: rgba(255,255,255,0.2);
      color: #FFF;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
}