
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.region-header {
  float: right;
  margin: 0 10px;
}

#branding {
  float: left;
}
#secondary-content-wrapper {
  background: #24292C url(images/giving-bg-inner-lg.jpg) center bottom no-repeat;
  .giving-front & {
    background: #24292C url(images/giving-bg-lg.jpg) center bottom no-repeat;
  }
}
.title-bar {

  .giving-front & {
    margin-top: 40px;
  }

  #page-title {
    background: $cleargreen;
    margin: 0 10px;
    padding: 30px 40px;
    .win.ff & {
      line-height: 37px;
      padding-top: 36px;
    }

    .giving-front & {
      background: $green;
      line-height: 70px;
    }
    .win.ff.giving-front & {
      line-height: 66px;
      padding-top: 4px;
    }
  }
}

.block-menu-giving {
  .block-inner {
    margin-top: 60px;
    ul.menu {
      li {
        display: inline-block;
        padding: 0 12px;
        a {
          color: #FFF;
          padding: 0;
          text-transform: uppercase;
          &.active,
          &:hover {
            color: #0d0202;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.sidebar {
  padding-top: 20px;
  .giving-front & .view-id-flex_blocks {
    padding-top: 20px;
  }
}

.secondary-inner {margin-right: 31%; margin-left: 0;}
.secondary-left {float: left; width: 69%;}
.region-secondary-aside {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 31%;
}

#main-content .field-name-body,
#main-content .field-name-field-body,
#main-content .field-name-field-form-frame,
#main-content .field-name-field-donate-link,
.node-type-membership-level #main-content .field,
.node-type-giving-feature-block #main-content .field {
  padding: 0 100px 0 40px;
}

.node-type-campaign- #main-content ul.links,
.node-type-membership-level #main-content ul.links,
.node-type-giving-feature-block #main-content ul.links {
  padding: 20px 100px 0 40px;
  li.first {
    padding-left: 0;
  }
}

#secondary-content-wrapper {
  max-height: 260px;
  min-height: 140px;
  .container,
  .secondary-inner {
    max-height: 260px;
    min-height: 140px;
    .giving-front & {
      max-height: 100%;
    }
  }
  .giving-front & {
    max-height: 100%;
  }
}

#header-wrapper .container {
  max-width: 1100px;
  #header {
    background: rgba(92,128,54,0.5);
    #branding {
      margin: 0;
    }
    .region-header {
      margin: 0;
    }
  }
}

#block-views-giving-feature-blocks-block {
  background: $cleargreen;
}

// Giving Today
.give-today-block {
  margin-bottom: 20px;
  .giving-front & {
    margin-bottom: 0;
  }
  .giving-inner &,
  .giving-impact & {
    margin-top: -80px;
    position: relative;
    z-index: 500;
  }
  h3.give {
    height: 60px;
    a {
      text-align: left;
      &:hover {
        span {
          background-position: left 12px;
          padding-right: 0;
          padding-left: 46px;
          .win.ff & {
            background-position: left 6px;
          }
        }
      }

      span {
        @include transition(all 0.5s);
        background: url(images/giving-arrow-green.png) right 12px no-repeat;
        display: inline-block;
        max-height: 60px;
        padding-right: 46px;
        .win.ff & {
          background-position: right 6px;
        }
      }
    }
  }
}

/**
 * Giving Stories
 */
.node-type-giving-story {
  .field-name-field-campaign {
      margin-left: 40px;
      margin-right: 100px;
    }
}
.view-giving-stories {
  .views-row {
    float: left;
    margin: 0;
    width: 31.8%;
    &.views-row-odd {
      clear: none;
    }
    &.views-row-1,
    &.views-row-2,
    &.views-row-4,
    &.views-row-5 {
      margin: 0 2.3% 2.3% 0;
    }
    &.views-row-4 {
      clear: left;
    }
  }
}

/**
 * Footer
 */
#footer-wrapper {
  #footer {
    #block-views-flex-blocks-block-2 {
      clear: none;
      float: right;
      width: 50%;
    }
    #block-menu-menu-browse-library,
    #block-menu-menu-about-the-mises-institute {
      float: left;
      width: 25%;
    }
    #block-menu-menu-mises-social-icons {
      float: right;
      width: 50%;
    }
  }
}

/**
 * Areas to Support
 */
.view-areas-to-support {
  margin-bottom: 40px;
  .views-row {
    .views-field-title {
      float: left;
      width: 25%;
    }
    .views-field-field-body {
      float: left;
      max-width: calc(75% - 205px);
      padding: 0px 90px;
    }
    .views-field-field-donate-link {
      float: right;
    }
  }
}

/**
 * Membership Levels
 */
.view-membership-levels {
  margin-bottom: 40px;
  .views-row {
    .views-field-title {
      float: left;
      width: 50%;
    }
    .views-field-body {
      float: right;
      padding: 0 0 0 30px;
      width: 50%;
    }
  }
}