
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.secondary-inner {margin-right: 25%; margin-left: 0;}
.secondary-left {float: left; width: 70%;}
.region-secondary-aside {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 25%;
}

/**
 * Giving Stories
 */
.view-giving-stories {
  .views-row {
    float: left;
    margin: 0 2.5% 30px;
    width: 45%;
    &.views-row-odd {
      clear: left;
    }
  }
}