
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.secondary-inner {margin-right: 33.3%; margin-left: 0;}
.secondary-left {float: left;}
.region-secondary-aside {
	clear: none;
	float: left;
	margin-left: -33.3%;
	width: 33.3%;
}

#main-content {
	padding: 0 100px 0 40px;
}