
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
 
/* Increase the body font size on small touch devices */
body {
  font-size: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.75em;
}

h6 {
  font-size: 1.25em;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
#header-wrapper {
  @include box-shadow(none);
}
#branding {
  margin: 0 auto;
  max-width: 100%;
  width: 380px;
}
.title-bar {
  position: static;
  #page-title {
    background: $blue;
    line-height: 40px;
    margin: 0;
    text-align: center;
  }
}
#logo {
  @include box-shadow(none);
  margin-bottom: 0;
}
.at-mt .at-menu-toggle {

  .block-inner {
    margin: 0;
  }

  /* The toggle link */
  h2 {

    a {
      @include ir;
      background: $darkgreen;
      display: block;
      height: 14px;
      float: right;
      margin: 10px;
      padding: 10px;
      position: relative;
      width: 22px;

      &:before {
        @include box-shadow((#FFF 0 0.3em 0 0, #FFF 0 0.6em 0 0));
        background: #FFF;
        content: "";
        font-size: 24px;
        margin-left: -0.5em;
        position: absolute;
        top: 0.35em;
        left: 50%;
        height: 0.15em;
        width: 1em;
      }
    }
  }

  .menu-toggle {
    margin: 0 62px 9px 10px;
    padding-top: 9px;
  }

  /* Menu items */
  ul.menu li {
    padding: 1px 0;
    a {
      background: $darkgreen;
      color: #FFF;
      line-height: 34px;
      padding: 0 10px;
      text-transform: uppercase;
      &.active,
      &:hover {
        background: #FFF;
        color: $darkgreen;
        text-decoration: none;
      }
    }
  }
}

#secondary-content-wrapper {
  .block-inner {
    margin-left: 0;
    margin-right: 0;
  }
  .secondary-inner {
    .block {
      line-height: 0;
    }
  }
}
.block-content {
  ul,
  ol {
    padding: 0 0 0 20px;
  }
}
#block-system-main {
  margin-bottom: 0;
  margin-top: 1em;
  .giving-front & h2 {
    font-size: 2em;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  ul,
  ol {
    padding: 0 0 0 20px;
  }
}
.sidebar {
  border-top: $blue 7px solid;
  margin-top: 0;
  padding: 0;
  .region-inner {
    margin-left: 0;
    margin-right: 0;
    .block {
      margin: 0;
    }
  }
  .node {
    margin-bottom: 0;
    .file-video {
      line-height: 0;
    }
  }
}
#block-views-giving-feature-blocks-block {
  margin-left: 0;
  margin-right: 0;

  .views-row {
    .views-field-field-image {
      margin-top: -17px;

      a {
        height: 48px;
        width: 48px;
        img {
          max-width: 24px;
        }
      }
    }
    .views-field-nothing {
      padding: 0 10px 5px;
      h6 {
        line-height: 1.1;
        margin: 0;
      }
      .body {
        display: none;
      }
    }
  }
}

/**
 * Give Today Block
 */
.give-today-block {
  h3.give {
    height: 46px;
    line-height: 46px;
  }
}

/**
 * Giving Stories
 */
.node-type-giving-story #main-content,
.node-type-campaign- #main-content {
  margin: 0;
  #block-system-main {
    margin-top: 0;
    .field-name-field-campaign,
    .field-name-field-body,
    .field-name-field-form-frame {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
.block-giving-stories-block,
.block-giving-stories-block-1 {
  margin: 0;
  padding-top: 40px;
  .block-title {
    padding-bottom: 5px;
  }
}
.view-giving-stories {
  .view-header {
    @include translate(xy, -50%, -25%);
    .icon img {
      max-width: 20px;
      padding: 10px;
    }
  }
  .views-row {
    .views-field-nothing {
      padding: 20px;
    }
  }
}
/**
 * Areas to Support
 */
.block-areas-to-support-block {
  margin-bottom: 10px;
}
.view-areas-to-support {
  margin-bottom: 0;
  .views-row {
    padding: 15px 15px 20px;
    .views-field-title {
      width: 100%;
      h5 {
        margin: 0 0 0.1em;
      }
    }
    .views-field-field-body {
      clear: left;
      margin-bottom: 12px;
      max-width: 100%;
      padding: 0;
    }
    .views-field-field-donate-link {
      float: left;
    }
  }
}

/**
 * Membership Levels
 */
.view-membership-levels {
  .views-row {
    padding: 15px 15px 20px;
    .views-field-title {
      h5 {
        line-height: 1;
        margin: 0 0 0.1em;
      }
    }
  }
}