
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.secondary-inner {margin-right: 30%; margin-left: 0;}
.secondary-left {float: left; width: 70%;}
.region-secondary-aside {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30%;
}

#main-content {
	padding: 0 100px 0 40px;
}