#
# Apache/PHP/Drupal settings:
#

#
# Start Redirects for iTunes RSS Feeds
#
RewriteCond %{QUERY_STRING} (^|&)CategoryId=213($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/281? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=230($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/402? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=174($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/318? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=226($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/415? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=187($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/148? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=108($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/153? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=73($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/346? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=222($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/359? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=232($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/308? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=123($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/324? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=36($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/260? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=37($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/261? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=9($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/259? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=75($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/262? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=84($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/263? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=97($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/264? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=106($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/265? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=137($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/266? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=137($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/266? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=228($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/267? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=228($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/267? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=249($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/268? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=249($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/268? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=76($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/284? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=23($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/338? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=134($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/311? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=44($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/341? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=215($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/410? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=133($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/310? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=235($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/440? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=91($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/298? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=117($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/435? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=118($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/436? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=141($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/437? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=207($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/438? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=64($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/272? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=143($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/389? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=212($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/408? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=148($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/317? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=148($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/317? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=136($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/313? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=40($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/366? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=111($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/392? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=200($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/320? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=200($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/320? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=110($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/385? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=206($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/439? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=199($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/291? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=203($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/423? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=203($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/423? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=115($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/368? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=115($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/368? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=66($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/274? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=87($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/396? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=90($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/297? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=246($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/330? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=125($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/353? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=99($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/286? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=99($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/286? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=224($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/414? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=135($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/312? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=24($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/271? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=65($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/273? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=245($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/329? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=245($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/329? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=139($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/393? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=94($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/348? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=248($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/378? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=28($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/241? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=77($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/367? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=89($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/285? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=216($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/292? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=218($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/293? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=130($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/358? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=205($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/401? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=88($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/278? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=124($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/352? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=22($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/240? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=47($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/343? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=223($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/413? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=243($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/328? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=33($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/246? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=34($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/247? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=57($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/249? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=81($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/250? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=7($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/245? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=101($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/251? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=113($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/252? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=145($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/253? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=145($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/253? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=236($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/254? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=256($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/255? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)categoryid=283($|&)
RewriteRule ^Feed/Media/$ /itunes/434? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=252($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/418? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=122($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/351? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=126($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/354? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=238($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/416? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=132($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/309? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=220($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/411? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=29($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/340? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=80($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/296? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=68($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/344? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=26($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/242? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=146($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/315? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=146($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/315? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=27($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/365? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=109($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/288? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=129($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/357? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=127($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/355? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=251($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/331? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=251($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/331? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=257($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/362? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=104($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/349? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=217($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/282? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=250($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/417? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=176($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/289? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=112($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/386? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=128($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/356? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=227($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/360? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=114($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/399? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=241($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/327? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=25($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/339? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=239($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/326? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=239($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/326? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=144($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/390? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=240($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/361? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=82($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/347? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=71($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/276? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=95($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/398? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=214($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/409? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=219($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/322? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=219($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/322? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=209($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/321? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=120($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/350? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=138($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/314? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=138($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/314? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=191($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/290? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=98($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/299? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=229($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/323? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=229($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeID=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/323? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=204($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/407? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=208($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/377? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=100($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/287? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=221($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/412? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=72($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/345? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=189($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/319? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=237($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/325? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=93($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/279? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=116($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/387? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=67($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/275? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=70($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/307? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=79($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/277? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=45($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/342? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=233($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/394? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=92($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/397? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=147($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=1($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/316? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)CategoryId=147($|&)
RewriteCond %{QUERY_STRING} (^|&)MediaTypeId=14($|&)
RewriteRule ^Feeds/media\.ashx$ /itunes/316? [L,R=301]
#
# End Redirects for iTunes RSS Feeds
#

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template)$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Make Drupal handle any 404 errors.
ErrorDocument 404 /index.php

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Override PHP settings that cannot be changed at runtime. See
# sites/default/default.settings.php and drupal_environment_initialize() in
# includes/bootstrap.inc for settings that can be changed at runtime.

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\." - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/... will be redirected to http://www.example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  # RewriteBase /drupal
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Pass all requests not referring directly to files in the filesystem to
  # index.php. Clean URLs are handled in drupal_environment_initialize().
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>

#RewriteCond %{REQUEST_URI} %{QUERY_STRING} ^CategoryId=213$
#RewriteRule ^Feeds/media\.ashx$ http://itunes-rss-launch.mises.devops.ourdrop.com/itunes/281 [R=302,L]
