/*
* Custom Styles for Blocks
* 
*/


/* ICONS */
.panel-heading {
  @include border-top-radius(0);
  position: relative;
  padding: 10px 15px 7px 80px;
  &:before {
    @include icon-block(61px,10px,-5px);
    @include icon-color($brand-contrast);
    @include icon-border();
    // fallback
    @include icon-image('../images/icons/icon-books.png');
    .mises-daily &, .Mises-Daily &, .Mises.Daily & {
      @include icon-image('../images/icons/icon-daily.png');
    }
    .academy & {
      @include icon-image('../images/icons/icon-academy.png');
    }
    .article & {
      @include icon-image('../images/icons/icon-article.png');
    }
    .audience &, .Biography &, .Interviews & {
      @include icon-image('../images/icons/icon-audience.png');
    }
    .audio & {
      @include icon-image('../images/icons/icon-audio.png');
    }
    .blog &, .Blog & {
      @include icon-image('../images/icons/icon-blog.png');
    }
    .books &, .Books & {
      @include icon-image('../images/icons/icon-books.png');
    }
    .event & {
      @include icon-image('../images/icons/icon-event.png');
    }
    .interview &, .Interviews & {
      @include icon-image('../images/icons/icon-interview.png');
    }
    .journal &, .journals &, .Journals & {
      @include icon-image('../images/icons/icon-journal.png');
    }
    .lecture &, .lectures &,.Lectures & {
      @include icon-image('../images/icons/icon-lecture.png');
    }
    .level & {
      @include icon-image('../images/icons/icon-level.png');
    }
    .library-block & {
      @include icon-image('../images/icons/icon-library.png');
    }
    .market & {
      @include icon-image('../images/icons/icon-market.png');
    }
    .mises-view &, .Mises-View &,
    .mises-weekends &, .Mises-Weekends &, .Mises.Weekends & {
      @include icon-image('../images/icons/icon-view.png');
    }
    .online-courses & {
      @include icon-image('../images/icons/icon-online.png');
    }
    .press-room & {
      @include icon-image('../images/icons/icon-press.png');
    }
    .research & {
      @include icon-image('../images/icons/icon-research.png');
    }
    .review & {
      @include icon-image('../images/icons/icon-review.png');
    }
    .search & {
      @include icon-image('../images/icons/icon-search.png');
    }
    .topic & {
      @include icon-image('../images/icons/icon-topic.png');
    }
    .video &, .AudioVideo &, .Audio.Video &, .audio-video & {
      @include icon-image('../images/icons/icon-video.png');
    }
  }
}
span.glyphicon {
  margin-right: 10px;
  border-radius: 50%;
  background-color: $gray;
  color: $white;
}
/* Soft transitions for all menu items */
ul.menu {
  li {
    a, span {
      @include transition(all 0.2s ease);
    }
  }
}

/* NOTE: PLACE HOVER COLORS IN RELEVANT SECTION */

/* TOP BORDERS */
.border-primary {
  border-top: 8px solid $brand-primary;
}
.border-contrast {
  border-top: 8px solid $brand-contrast;
}
.border-secondary {
  border-top: 8px solid $brand-secondary;
}
.border-gray {
  .panel-body {
    border-top: 4px solid $gray-light;
  }
}
/* ICONS RELATED TO TOP-BORDERS */
.border-primary {
  .panel-heading {
    &:before {
      @include icon-color($brand-primary);
    }
    .panel-title {
      color: $brand-primary;
    }
  }
  h4 {
    color: $brand-primary;
  }
}
.border-secondary {
  .panel-heading {
    &:before {
      @include icon-color($brand-secondary);
    }
    .panel-title {
      color: $brand-secondary;
    }
  }
  h4 {
    color: $brand-secondary;
  }
}
.border-contrast {
  .panel-heading {
    &:before {
      @include icon-color($brand-contrast);
    }
    .panel-title {
      color: $brand-contrast;
    }
  }
  h4 {
    color: $brand-contrast;
  }
}
/* BACKGROUND COLORS */
.bg-primary {
  background-color: $brand-primary;
}
.bg-contrast {
  background-color: $brand-contrast;
}
.bg-secondary {
  background-color: $brand-secondary;
  a {
    color: $white;
    &:hover {
      color: $gray-lighter;
    }
  }
}
.bg-gray {
  background-color: $gray-lighter;
}
.bg-darkgray {
  background-color: $gray-dark;
}


/* OTHER HELPER CLASSES */
.padding-lg {
  padding: $padding-small-horizontal $padding-small-horizontal * 2;
  .view-content {
    padding: $padding-small-horizontal $padding-small-horizontal * 2;
  }
}
.outset {
  margin-top: $padding-large-vertical;
  margin-right: $grid-gutter-width * -1.5;
  margin-bottom: $padding-large-vertical;
  margin-left: $grid-gutter-width * -1.5;
  padding: $grid-gutter-width * 1.5;
}

/* Bootstrap Panel overrides */
.panel-footer {
  @include border-bottom-radius(0);
  padding: $padding-large-vertical $padding-xs-horizontal;
  border-top: 0;
  background-color: transparent;
  a {
    color: $gray;
    text-transform: uppercase;
  font-size: $font-size-small;
    &:hover {
      color: $brand-medium;
    }
  }
  &:hover span.glyphicon {
    background-color: $brand-medium;
  }
}

/* BOTTOM BLOCKS */
.content-bottom {
	 .region {
	  position: relative;
	  background: $white;
	}
}
.bottom-blocks {
	 .view-mises-library {
	  position: relative;
	  margin-bottom: $grid-gutter-width;
	  background: $gray-lighter;
	}
}
.content-bottom,
.bottom-blocks {
  .panel-heading {
    border-radius: 0;
    background-color: $brand-medium;
    .panel-title {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
      font-family: $font-family-serif;
    }
  }
  .panel-body {
    //height: 150px;
    h4 {
      font-size: $font-size-h5;
      a {
        color: $brand-primary;
      }
    }
    p {
      color: $gray;
      font-size: $font-size-small;
    }
  }
  //.view-footer,
  //.attachment,
  .panel-footer {
    margin: 0 $padding-large-horizontal;
    border-top: 1px solid $gray-light;
    line-height: 20px;
    span.glyphicon {
      @include glyph-size(24px);
    }
  } 
}
/* SIDEBAR BLOCKS */
.sidebar {
  font-size: $font-size-small;
  
  .view-flex-blocks {
    margin-bottom: $grid-gutter-width;
    img {
      @extend .center-block;
      width: auto;
    }
  }
  .panel {
    padding: $padding-small-vertical;
  }
  .panel-heading {
    background: $gray-lighter;
    &:before {
      @include icon-block(42px,16px,calc(50% - 23px)); 
      @include icon-border(0);
    }
    &:after {
      @include vertical-rule(calc(100% - 14px),70px,6px,$gray);
    }
    .panel-title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: $font-size-h5;
    }
    &.single,
    .single {
      height: 62px;
      line-height: 40px;
    }
    h4 {
      font-size: $font-size-h5;
      a {
        color: $black;
      }
    }
  }
  .panel-body {
    padding: 10px 20px;
  }
  .view-content {
    p:last-child {
      margin: 0;
    }
  }
  .margin-bottom {
    margin-bottom: $grid-gutter-width;
  }

  #block-views-flex-blocks-block-6 {
    margin-top: 20px;
  }
}
.region-sidebar-second-top {
  margin-bottom: 20px;
  background: $brand-secondary;
  color: $white;
  .panel {
    padding: $padding-base-horizontal * 2;
    background: $brand-secondary;
  }
  h3 {
    margin-top: 0;
    color: $white;
    text-transform: uppercase;
    font-size: $font-size-h5;
  }
  a {
    color: $white;
  }
  p {
    a {
      text-decoration: underline;
    }
  }
}
/* SIDEBAR MENU */
.region-sidebar-second,
.region-sidebar-second-top {
  .nav {
    > li > a {
      padding-left: $padding-large-horizontal * 1.5;
      padding-right: $padding-large-horizontal * 3;
      background-color: $gray-dark;
      color: $white;
      text-transform: uppercase;
      font-size: $font-size-h4;
      &:hover {
        background-color: $gray;
      }
    }
    > li + li {
      border-top: 1px solid $gray;
    }
    > li.active a {
        background-color: $gray;
    }
  }
  .view-footer {
    .nav {
      > li {
        border-top: 1px solid $gray;
      }
    }
  }
}

/**
* CUSTOM ELEMENTS
**/

/* TITLE COLORSS */
.view-display-id-academy_course .panel-title {
  color: $brand-contrast !important;
}

/* NEW TO MISES TITLE */
div[about$='new-mises-homepage-block'].panel {
  margin: $grid-gutter-width 0 0;
  padding: $padding-base-vertical $padding-large-horizontal;
  background-color: $brand-contrast-dark;
  h2 {
    margin: 0;
    color: $white;
    font-family: $font-family-serif;
    span {
      font-size: 40px;
    }
  }
}

#block-menu-menu-new-to-mises {
  background-color: $white;
  h2 {
    margin: 0;
    padding: $padding-base-vertical * 1.5 $padding-large-horizontal;
    background-color: $brand-contrast;
    color: $white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: $font-size-h4;
  }
  .nav {
    padding: $padding-large-horizontal 0;
    li + li {
      border-top: 0 none;
    }
    > li > a {
      padding: $padding-base-vertical + 1 $padding-large-horizontal;
      color: $brand-contrast;
      text-transform: uppercase;
      //text-indent: -34px;
      font-weight: 600;
      background-color: transparent;
      span {
        color: $gray;
      }
      span.glyphicon {
        @include glyph-size(24px);
        color: $white;
        font-weight: 100;
      }
      &:hover {
        background: transparent;
        text-decoration: underline;
        span.glyphicon {
          background-color: $brand-contrast;
        }
      }
    }
  }
}
/* LANDING PAGES */
.view-term-landing {
  &.view-display-id-popular {
    .view-content {
      @extend .padding-lg;
    }
  }
  &.view-display-id-featured_author {
    .panel {
      margin-bottom: $grid-gutter-width;
    }
    .panel-title {
      color: $brand-contrast;
      text-transform: uppercase;
      font-size: $font-size-h4;
    }
    h4.author {
      color: $brand-contrast;
    }
    img {
      border: 3px solid $gray-light;
    }
  }
  &.view-display-id-columnist {
    .group-header {
      margin-bottom: 20px;
    }
    img {
      border: 3px solid $gray-light;
    }
  }
}

/* BLOCK TEASER WITH TERM */
.view-mode-block_teaser_term {
	.panel-heading {
	  padding: 10px 10px 10px 50px;
		background-color: $gray-dark;
	  &:before {
	    @include icon-block(30px,10px,10px);
	    @include icon-color($brand-secondary-reverse);
	    border: 0;
		}
		.panel-title {
			color: $white;
			text-transform: uppercase;
		}
	}
	.panel-body {
		background-color: $gray-lighter;
		h3 {
			margin-top: 0;
			color: $brand-secondary;
		}
		p {
			font-size: $font-size-small;
		}
	}
	.panel-footer {
		padding: 0 $padding-large-horizontal;
		background-color: $gray-lighter;
		p {
			padding: $padding-large-horizontal 0;
			border-top: 1px solid $gray-light;
	    line-height: 20px;
	    span.glyphicon {
	      @include glyph-size(20px);
	      margin-right: 5px;
	    }
		}
	}
}
/* BOTTOM BLOCKS FLEX BLOCKS */
.bottom-blocks {
  .view-flex-blocks {
    .panel {
    margin-bottom: 0;
    }
  }
}
/* VIDEO TEASER BLOCK */
.view-mode-video_block_teaser {
  background-color: $white;
  .main-content & {
    @extend .bg-gray;
  }
  .panel-heading {
    border-radius: 0;
    background-color: $brand-medium;
    .panel-title {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
      font-family: $font-family-serif;
    }
  }
  .panel-body {
    //height: 150px;
    h4 {
      font-size: $font-size-h5;
      a {
        color: $brand-primary;
      }
    }
    p {
      color: $gray;
      font-size: $font-size-small;
    }
  }
  .panel-footer {
    margin: 0 $padding-large-horizontal;
    border-top: 1px solid $gray-light;
    line-height: 20px;
    span.glyphicon {
      @include glyph-size(24px);
    }
  } 
}
/* MAILCHIMP SIGNUP FORM */
.block-mailchimp-lists {
  form {
    @extend .padding-lg;
  }
}
/* SIDEBAR SEARCH BLOCK */
.block-custom-search-blocks {
  padding: $padding-small-vertical $padding-small-vertical $padding-large-vertical;
  .panel-heading {
    background: transparent;
    .panel-title {
      overflow: hidden;
      color: $white;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  form {
    padding: 0 $padding-small-horizontal * 2;
  }
  .form-group {
    float: left;
    width: 85%;
  }
  .form-control {
    border-radius: 0;
  }
  button {
    width: 15%;
    border-radius: 0;
  }
}
/* OVERRIDING CUSTOM SEARCH BLOCK 1 ON DAILY LANDING PAGE */
body.mises-daily {
  #block-custom-search-blocks-1 {
    display: none;
  }
}
/* SEARCH SIDEBAR */
.section-search {
  .sidebar .region {
    @extend .border-secondary;
    padding: 0 $padding-base-horizontal $padding-large-vertical;
    background-color: $white;
    h2.block-title {
      @extend h3.sub-heading;
      @extend h3.contrast;
      font-size: $font-size-h3;
    }
    ul  {
      padding-left: 0;
      li {
        padding-left: $padding-large-horizontal;
        text-indent: $padding-large-horizontal * -1;
      }
    }
    input.facetapi-checkbox {
      margin-right: $padding-small-vertical;
    }
    a.facetapi-limit-link {
      @extend .text-right;
      display: block;
      text-transform: uppercase;
    }
  }
}
/* ACCORDION MENU */
.view-library-items-menu {
  display: none;
}
ul.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}
#library-menu {
  border-top: 5px solid $brand-secondary;
  .nav {
    > li {
      position: relative;
      ul > li > a {
        background-color: $brand-primary;
        #block-views-book-content-book-content-toc & {
          text-transform: none;
        }
        &:hover {
          background-color: $gray;
        }
      }
      ul ul > li > a {
        background: $brand-medium;
        #block-views-book-content-book-content-toc & {
          text-transform: none;
        }
        &:hover {
          background-color: $gray; 
        }
      }
      ul ul ul > li > a {
        background: $brand-secondary;
        #block-views-book-content-book-content-toc & {
          text-transform: none;
        }
        &:hover {
          background-color: $gray; 
        }
      }
      > a {
        @include transition(all 0.2s ease);
      }
      > a.active{
        background-color: $brand-contrast-dark;
        color: $white; 
        text-decoration:none;
      }
      > a.link {
        vertical-align:middle;
      }
      > a.icon.trigger{ 
        position:absolute;
        top: 10px; 
        right: 15px;
        z-index: 10; 
        padding:0;
        width:20px; 
        height:20px; 
        border:0 none; 
        border-radius:50%;
        background-color: $white;
        color: $brand-secondary; 
        vertical-align:middle;
        font-size: 12px;
        font-family: 'Glyphicons Halflings';
        &:before {
          position: relative;
          left: 4px;
          content: "\e080";
        }
        &.open {
          @include rotate(90deg);
        }
        &:hover,
        &:focus,
        &:active {
          background-color: $brand-primary;
          color: $white;
        }
      }
      &.last-child {
        a {
          background-image:none; 
          font-weight:normal;
        }
      }
    }  
  }
}
/* Flex-block image */
.node-flex-block {
  img {
    max-width: 100%;
    height: auto;
  }
}

/*
* Online Books
*/
.view-book-content {
  h2.book-title {
    font-family: $font-family-serif;
    color: $brand-primary;
  }
  blockquote {
    font-size: $font-size-base;
  }
}
/* Mises Wire Bloggers overrides */
.page-blog-mises-wire-bloggers {
  .view-display-id-blogger {
    .read-more {
      display: none;
    }
  }
}
