/*
* Custom Styles for Blocks
* 
*/

/* ICONS */
.panel-heading {
  position: relative;
  padding: 10px 15px 7px 80px;
  &:before {
    @include icon-block(61px,10px,-5px);
    .press-room & {
      @include icon-image('../images/icons/icon-press.png');
    }
    .online-courses & {
      @include icon-image('../images/icons/icon-online.png');
    }
    .mises-view & {
      @include icon-image('../images/icons/icon-view.png');
    }
    .library-block & {
      @include icon-image('../images/icons/icon-library.png');
    }
  }
}


/* Bootstrap Panel overrides */

.panel-footer {
  padding: $padding-large-vertical $padding-xs-horizontal;
  background-color: transparent;
  a {
    color: $gray;
    text-transform: uppercase;
  font-size: $font-size-small;
    &:hover {
      color: $brand-medium;
    }
  }
  span.glyphicon {
    border-radius: 50%;
    background-color: $gray;
    color: $white;
  }
  &:hover span.glyphicon {
    background-color: $brand-medium;
  }

}

/* BOTTOM BLOCKS */
.content-bottom .col-sm-3 .region {
  position: relative;
  background: $white;
}  
.block-nodeblock,  
.content-bottom .col-sm-3 .region { 
  .panel-heading {
    border-radius: 0;
    background-color: $brand-medium;
    .panel-title {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
      font-family: $font-family-serif;
    }
  }
  .panel-body {
    height: 150px;
    h4 {
      font-size: $font-size-h5;
      a {
        color: $brand-primary;
      }
    }
    p {
      color: $gray;
      font-size: $font-size-small;
    }
  }
  .view-footer {
    margin: 0 $padding-large-horizontal;
    line-height: 20px;
    span.glyphicon {
      @include glyph-size(20px);
    }
  } 
}

/* HOMEPAGE */
#block-boxes-home-new {
  padding: $padding-base-vertical $padding-large-horizontal;
  background-color: darken($brand-contrast, 5%);
  h2 {
    margin: 0;
    color: $white;
    font-family: $font-family-serif;
    span {
      font-size: 40px;
    }
  }
}
#block-menu-menu-new-to-mises {
  h2 {
    margin: 0;
    padding: $padding-base-vertical $padding-large-horizontal;
    background-color: $brand-contrast;
    color: $white;
    font-size: $font-size-h4;
    text-transform: uppercase;
    font-weight: 200;
  }
}