/*
* Custom Styles for Special Features
* 
*/

/*
* BREADCRUMB
*/
.easy-breadcrumb {
  overflow: hidden;
  margin-bottom: $grid-gutter-width;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size-small;
  a {
    color: $gray;
  }
}

/* SLIDESHOW 
*  Override flexslide styles
*/
.flexslider {
  @include box-shadow(none);
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  .flex-direction-nav a {
    text-shadow: none;
    &:before {
      font-size: 30px;
    }
  }

}
#slideshow, #media, #image {
  margin-right: $grid-gutter-width;
  width: 240px; // @TDOO: Check width
}

/*
* TAGS ON TEASERS AND NODES
*/
.tags {
  color: $gray;
  font-size: $font-size-xs;
  .tag-label {
    padding-right: $padding-xs-horizontal;
    text-transform: uppercase;
  }
  span:not(.tag-label) + span:before {
    content: ", ";
  }
  a {
    color: $gray;
  }
}
/*
* DATE AUTHOR ON TEASERS AND NODES
*/
.group-date-author {
  .date {
    color: $brand-primary;
    text-transform: uppercase;
    font-weight: 600;
  }
  span.author {
    padding-left: 10px;
    &:before {
      display: inline-block;
      width: 14px;
      content: "\2022";
    }
    a {
      color: $brand-primary;
    }
    div, p {
      display: inline;
      color: $brand-primary;
    }
  }
}
/*
* DATE LOCATION ON TEASERS AND NODES
*/
.group-date-location {
  span.location {
    padding-left: 10px;
    &:before {
      display: inline-block;
      width: 14px;
      content: "\2022";
    }
    a {
      color: $brand-primary;
    }
  }
  span.reg-link {
    padding-left: 10px;
  }
}
/*
*   WIDE MEDIA PLAYER
*/
.media-player {
  clear: both;
}

/*
* SHARING
*/
.group-sharing {
  clear: both;
  padding: $padding-large-horizontal 0;
  border-bottom: 1px solid $gray-light;
  .copyright {
    padding-top:  $padding-large-horizontal;
  }
  .print {
    padding-top:  $padding-large-horizontal;
    .glyphicon {
      top: 4px;
      width: 25px;
      height: 25px;
      background: transparent;
      color: $gray-dark;
      font-size: 25px;
    }
  }
}
#widgets-element-addthis-share {
  height: 62px;
  .widgets-element {
    padding-right: $padding-xs-horizontal;
  }
  .addthis_counter .addthis_button_expanded {
    height: 37px;
  }
}
#bottom-social-share {
  padding: $padding-large-horizontal / 2 0 $padding-large-horizontal * 1.5;
  .social-widget {
    display: inline-block;
    &.facebook-widget {
      position: relative;
      top: -7px;
      width: 85px;
    }
  }
}

/*
* FOOTNOTES GROUP -- MAY ABSTRACT THIS
*/
.group-footnotes {
  margin-right: $padding-large-horizontal * -1.5;
  margin-left: $padding-large-horizontal * -1.5;
  padding: $padding-large-horizontal * 1.5;
  background: $gray-lighter;
  h3 {
    color: $brand-secondary;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-h5;    
  }
  p {
    font-size: $font-size-small;
  }
}
/*
* COMMENTING
*/
.comment-title {
  h3 {
    color: $brand-secondary;
    text-transform: uppercase;
  }
}

/*
* PHOTO ALBUM
*/
.view-photo-album {
  .view-content {
    @extend .row;
    padding: $padding-large-vertical $padding-large-vertical $padding-base-vertical;
  }
  .views-row {
    padding-bottom: $padding-base-vertical;
  }
  img {
    @include transition(all 0.2s ease);
    border: 3px solid $gray-light;
    border-radius: 0%;
    &:hover {
      border-radius: 50%;
    }
  }
}
/*
* CALENDAR
*/
.view-mises-calendar {
  &.sidebar {
    a {
      color: $white;
    }
    table {
      margin-bottom: $padding-large-vertical;
      width: 100%;
      th {
        text-align: center;
      }
      td {
        vertical-align: middle;
        text-align: center;
        .month {
          margin: 2px auto;
          width: $font-size-base * 2;
          height: $font-size-base * 2;
          border-radius: $pager-border-radius;
          line-height: $font-size-base * 2;
          &.mini-day-on {
            background-color: $brand-contrast;
          }
        }
        &.today {
          .month {
            background-color: $brand-medium;
          }
        }
        .calendar-empty {
          display: none;
        }
      }
    }
    .date-nav-wrapper .date-heading h3 { 
      font-size: $font-size-base;
    }
  }
  .pager {
    margin: 0;
  }
}

/* overrides */
.date-nav-wrapper .date-nav {
  margin: 0 0 $padding-large-vertical;
  padding: 0;
}
.main-content .date-nav-wrapper .date-heading h3 { 
  @extend h2.page-title;
}
/*
* EVENT PAGE
*/
#registration-form {
  clear: both;
  margin-top: $padding-large-vertical;
}
/* Add to calendar */
.addtocal {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  text-indent: -999px;
  white-space: nowrap;
  cursor: pointer;
  &:before {
    position: absolute;
    left: 999px;
    content: "\e109";
    font-family: 'Glyphicons Halflings';
  }
  &:hover:after{
    position: absolute;
    bottom: $padding-large-vertical;
    left: 0;
    z-index: 98;
    padding: $padding-small-vertical;
    width: auto;
    border: 1px solid $brand-secondary;
    border-radius: $border-radius-base;
    background: $white;
    color: $brand-secondary;
    content: 'Add to Calendar';
    text-indent: 0;
    font-size: $font-size-small;
  }
}

ul.addtocal_menu {
  position: absolute;
  z-index: 50;
  display: none;
  margin-bottom: 0px;
  margin-left: 0px !important;
  padding: 0;
  min-width: 100px;
  border: 1px solid $brand-secondary;
  border-radius: $border-radius-base;
  background: $white;
  list-style-type: none;
  overflow: hidden;
  text-transform: none;
  li {
    margin: 0px;
    padding: 0px;
    a {
      display: block;
      padding: $padding-small-vertical;
      color: $brand-secondary;
      text-decoration: none;
      &:hover {
        background: $gray-lighter;
        text-decoration: none;
      }
    }
  }
}



