/*
* Custom Styles for Home and Landing Pages
* 
*/

/* TOP FEATURED REGION */
.featured .container {
  .row {
    margin-right: 0;
    margin-left: 0;
    background: $white;
  }
  .col-sm-8, .col-sm-4 {
    padding: 6px;
  }
}
/* HOMEPAGE HERO */
.view-homepage-hero {
  .featured-block {
    position: relative;
    a {
      color: $white;
    }
    .image {
    }
    .overlay {
      position: relative;
      left: -6px;
      padding: 10px 20px 10px 38px;
      width: -moz-calc(100% + 6px);
      width: calc(100% + 6px);
      border-left: 6px solid $brand-primary;
      background: $brand-medium-screen;
      color: $white;
      @media (min-width: $screen-md) {
        & {
          position: absolute;
          bottom: 10px;
          max-width: 75%;
        }
      }
      h3 {
        margin-top: 0;
        color: $white;
        font-size: $font-size-large;
      }
      p {
        color: $gray-lighter;
      }
    }
  }
}

/* HOMEPAGE TOP RIGHT MENU */

/* GENERIC NODE TEASER - USED ON LANDING PAGES AND SEARCH RESULTS */
.main-content {
  .node-teaser,
  .view-mode-audio_teaser {
    padding: $grid-gutter-width 0 0;
    &:after {
      display: block;
      visibility: visible;
      margin: 0 auto;
      padding-top: $grid-gutter-width;
      width: calc(100% - 20px);
      width: -moz-calc(100% - 20px);
      height: 1px;
      border-bottom: 1px solid $gray-light;
      content: '';
    }
    .image {
      margin-top: 5px;
    }
  }
}


/* LANDING LISTS */
.landing-list {
  .node-teaser {
    .front &:after {
      display: none;
    }
  }
  .image {
    margin-top: 5px;
  }
  .tags {
    padding-top: 5px;
  }
  h2.teaser-title {
    margin-top: 0;
  }
  .view-footer {
    span.glyphicon {
      @include glyph-size(22px);
    }
  }
}
.page-taxonomy-term-147 {
  .landing-list {
    .result-1 {
      background-color: $gray-lighter;
      .node-teaser {
        padding: 0;
        &:after {
          display: none;
        } 
      }
      .group-right {
        &:before {
          display: block;
          content: "Today's Article";
        }
        &:first-child {
          padding-left: $grid-gutter-width;
        }
    }
    .image {
      margin-top: 0;
    }
    .tags {
      margin-top: 0;
      padding: 10px;
      background-color: $brand-secondary;
      color: $white;
      a {
        color: $white;
      }
    }
    .group-right {
      padding: 20px 10px;
      }
    }
  }
}

/* LANDING PAGE */
.node-landing-page.view-mode-full {
  h2.teaser-title {
    margin-top: $padding-base-vertical;
  }
  .sub-heading {
    margin-top: 0;
  }
  .row {
    margin-bottom: $grid-gutter-width;
  }
}
.field-collection-item-field-resources {
  .read-more {
    @extend .more-link;
  }
} 
.resource-item {
  &.odd {
    @extend .outset;
    @extend .bg-gray;
  }  
}

/* LANDING LIBRARY PAGE */
.latest-library-content.outset {
	margin-right: $grid-gutter-width / -2;
	margin-left: $grid-gutter-width / -2;
	padding: 0;
}

/* AUSTRIAN ECONOMICS LANDING PAGE */
.austrian-econ-block {
  img {
    border: 3px solid $gray;
  }
}
/* DAILY LANDING PAGE */
body.mises-daily {
  #block-views-term-description-block {
    display: none;  
  }
}

/* CATEGORY FILTERS */
.landing-list {
  .views-exposed-widget {
    &#edit-book-type-wrapper {
      @include clearfix;
      float: none;
      padding: 0;
    }
    &#edit-title-wrapper {
      @include clearfix;
      float: none;
      padding: $padding-large-vertical 0 0;
      text-align: center;
    }
    &:not(#edit-book-type-wrapper):not(#edit-title-wrapper):not(.views-reset-button) {
      width: -moz-calc(23% - 12px);
      width: calc(23% - 12px);
      padding: $padding-large-vertical $padding-small-horizontal 0 0;
      &#edit-austrian-school-wrapper {
        width: -moz-calc(31% - 12px);
        width: calc(31% - 12px);
      }
      &.views-submit-button {
        width: auto;
        float: right;
        padding-right: 0;
      }
    }
    > label {
      display: none;
    }
    .form-submit {
      margin-top: 0;
    }
  }
  select {
    visibility: hidden;
  }
  .form-control {
    padding: $padding-base-vertical $padding-small-horizontal;
  }
  #edit-book-type-wrapper {
    .bef-select-as-links {
      text-align: right;
      .form-item {
        display: inline-block;
        a {
          @extend .btn;
          @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, $brand-contrast-dark, $brand-contrast-dark);
        }
      }
      > .form-item {
        float: right;
      }
    }
  }
  #edit-title-wrapper {
    .form-item {
      display: inline-block;
      a {
        padding: 0 $padding-xs-horizontal;
        &.active {
          background-color: $btn-default-bg;
          color: $white;
        }
      }
    }
  }
  .filter-toggle {
    text-transform: uppercase;
    cursor: pointer;
    .glyphicon {
      margin-right: 0;
      color: $brand-medium;
      background-color: $white;
      @include transition(all 0.2s ease);
    }
    &.open {
      .glyphicon {
        @include rotate(90deg);
      }
    }
  }
  .views-exposed-widgets {
    //@include transition(all 0.8s ease);
    //max-height: 0;
    //overflow: hidden;
    //&.open {
    //  max-height: 100px;
    //}
  }
  .views-reset-button {
    display: inline-block;
    padding: 0;
    float: none;
    visibility: hidden;
    button {
      @include button-variant($btn-white-color, $btn-white-bg, $btn-white-border);
    }
  }
}
.selectBox-dropdown {
  .selectBox-label {
    padding: 0;
  }
  .selectBox-arrow {
    border-left-color: $input-border;
  }
}
.selectBox-dropdown-menu {
  overflow: auto !important;
}

/* FILTERED TERM LANDING */
.alpha_pagination {
  @include clearfix;
  text-align: center;
}