/*
* Main Site Custom Styles
* 
*/
/* BODY */
body {
  @include background-texture($body-bg,'../images/texture.jpg');
}

/* HEADER */
.header {
  position: relative;
}

#top-bar {
  @include background-texture($brand-primary,'../images/top-bar.jpg');
  padding-top: 28px;
  height: 110px;
}

.navbar-header {
  background: $white;
  @media (min-width: $grid-float-breakpoint) {
    float: none;
  }
}

#navbar {
  &.navbar-static-top {
    border-width: 0 0 6px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
  }
}
.navbar-inverse .navbar-nav > li > a.active {
  background-color: $navbar-inverse-link-active-bg;
  color: $navbar-inverse-link-active-color;
}


.region-navigation {
  position: relative;
  .block {
    height: 50px;
    width: 258px;
    &.block-views {
      @extend .pull-right;
    }
    @media (min-width: $screen-sm + 1) {
     &.block-views {
        margin-top: -7px;
      }
      &#block-search-form {
        position: absolute;
        top: -64px;
        right: 0;
      }
    }
  }
  #block-search-form {
    .form-control {
      border-radius: 0;
      border-right: 0 none;
    }
    button {
      border-radius: 0;
      padding: 2px 7px;
      font-size: 20px;
    }
  }
}
/* CONTAINER */
.main-container {
  padding: 20px 0 35px;
  background: transparent url('../images/content-texture.jpg') center top no-repeat;
}
.main-container > .container {
  padding-top: 20px;
}

/* PRIMARY CONTENT BLOCKS */
.main-content {
  border-top: 7px solid $brand-secondary;
  background: $white;
  .shield {
    position: absolute;
    top: -7px;
    left: 33px;
    display: block;
    width: 66px;
    height: 74px;
    background-image: url('../images/icons/shield-bg.png');
    .icon {
      @include icon-block(55px,6px,6px);
      @include icon-image('../images/icons/icon-daily.png');
      // Daily is default icon, custom shield icons based on path
      body.section-press-room & {
        @include icon-image('../images/icons/icon-press.png');
      }
      body.section-events & {
        @include icon-image('../images/icons/icon-event.png');
      }
      body.section-blog & {
        @include icon-image('../images/icons/icon-blog.png');
      }
      body.section-books & {
        @include icon-image('../images/icons/icon-books.png');
      }
      body.section-courses & {
        @include icon-image('../images/icons/icon-online.png');
      }
      body.section-jobs &,
      body.section-profile & {
        @include icon-image('../images/icons/icon-audience.png');
      }
    }
  }
  // Add customizations for specific pages here
  .front & {
    padding: $padding-base-vertical $padding-large-horizontal * 1.5;
  }
  .body-content {
    &.normal {
      font-size: $font-size-base;
    }
    &.large {
      font-size: $font-size-large;
    }
  }
}

.page-header {
  padding-left: 100px;
}
