// CUSTOM MIXINS
// --------------------------------------------------

// For background images
@mixin background-image($image, $height, $width) {
  display: block;
  width: $width;
  height: $height;
  background: url($image) 0 0 no-repeat;
  text-indent: -9999em;
}

@mixin background-texture($color,$image) {
  background: $color url($image) center center repeat;
}

@mixin icon-block($size,$x,$y) {
  position: absolute;
  top: $y;
  left: $x;
  display: block;
  width: $size;
  height: $size;
  content: '';
}

@mixin icon-image($image,$size:cover) {
  background-image: url($image);
  background-position: center center;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin glyph-size($size) {
  width: $size;
  height: $size;
  text-align: center;
  font-size: $size/2;
  line-height: $size;
}