/*
* Core Custom Styles
* 
*/

/*
* OVERRIDE BOOTSTRAP
*/

/* LAYOUT */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

// bootstap/_navbar.scss
.navbar-header {
  background: $white;
  @media (min-width: $grid-float-breakpoint) {
    float: none;
  }
}
#navbar {
  &.navbar-static-top {
    border-width: 0 0 6px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
  }
}

// Override logo alignment
.logo.navbar-btn {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;

  &.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.btn-xs {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
* CUSTOM MISES ELEMENTS
*/
/* BODY */
body {
  @include background-texture($body-bg,'../images/texture.jpg');
}

/* HEADER */
#top-bar {
  @include background-texture($brand-primary,'../images/top-bar.jpg');
  padding-top: 28px;
  height: 110px;
}
#block-boxes-support-mises,
#block-boxes-support-mises-header {
  @extend .pull-right;
  margin-top: -7px;
  height: 50px;
}
/* CONTAINER */
.main-container {
  padding: 20px 0 35px;
  background: transparent url('../images/content-texture.jpg') center top no-repeat;
}
.main-container > .container {
  padding-top: 20px;
}

/* MENU FOOTER */
.menu-footer {
  @include background-texture($brand-medium,'../images/menu-footer-texture.jpg');
  padding: 25px 0 35px;
  border-top: 1px solid $brand-dark;
  background: $brand-medium;
  
  h2 {
    color: $brand-secondary;
    text-transform: uppercase;
    font-size: 20px;
  }
  ul.menu {
    @include content-columns(2);
    li a {
      display: inline;
      padding: 0;
      color: $gray-lighter;
      font-size: $font-size-small;
      &:hover {
        background: transparent;
      }
    }
  }
}

/* FOOTER */
.footer {
  @include background-texture($gray-darker,'../images/footer-texture.jpg');
  margin-top: 0;
  padding: 25px 0 35px;
  border-top: 7px solid $black;
  background: $brand-medium;
  color: $white;

  h2 {
    color: $brand-contrast;
    text-transform: uppercase;
    font-size: 15px;
  }
  ul.menu li a {
      display: inline;
      padding: 0;
      color: $gray-lighter;
      font-size: $font-size-small;
    &:hover {
      background: transparent;
    }
  }
  #block-boxes-footer-right {
    h2 {
      color: $gray-lighter;
      font-size: $font-size-h3;
    }
  }
  #boxes-box-footer_right {
    padding: $padding-large-vertical $padding-xs-horizontal;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }

}

/* PRIMARY CONTENT BLOCKS */
.main-content {
  padding: $padding-large-horizontal;
  border-top: 5px solid $brand-secondary;
  background: $white;
  .front &:after {
    position: absolute;
    top: -5px;
    left: 33px;
    display: block;
    width: 66px;
    height: 77px;
    content: url('../images/shield.png');
  }

}
.content-bottom {
  padding-top: $padding-large-horizontal;
}

/* FONTS AND TYPOGRAPHY 
* @TODO: CONSIDER SEPARATE STYLESHEET
*/
h1, .h1 {
  color: $brand-primary;
  text-transform: uppercase;
  font-family: $font-family-serif;
}
.page-header {
  border-bottom: 0 none;
  padding-left: 100px;
}
h2.teaser-title {
  color: $brand-primary;
  font-size: $font-size-h3; // @TODO: REVISIT THIS WHEN MORE STYLING IS DONE
  font-family: $font-family-serif;
}
.read-more a {
  color: $gray;
  text-transform: uppercase;
  font-size: $font-size-small;
}
