@import url(jquery-ui-1.8.21.custom.css);
body {
  margin:0; padding:0;
}
input[type="text"],input[type="password"],textarea,input[type="number"],input[type="email"],input[type="tel"],select {
  border: 1px solid #A3A3A3;
  box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
  border-radius:3px;
  padding:7px 15px 7px;
  font-size:14px;

  box-sizing: border-box;
  width: 90%;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border: 1px solid #56B4EF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
.sectionBody .requiredBlock .required {
  background-color:Transparent;
  top:2px;
}
.sectionBody .requiredBlock .required span {
  display:block;
  font-size:12pt;
}
.sectionBody .labelCol {
  color:#4A4A4A;
  width:15%;
}
.sectionHeader {
  color:#4A4A4A;font-size: 14px;
  font-weight:bold;
  padding:12px 14px;
        margin: 0px 0px 0px 0px;
        border-bottom: solid 1px #777;
        text-align: center;
}
/*
.donorLocation {
   width:120px;
}
@media (max-width: 480px) {
  table, td { display: block !important; box-sizing: border-box; }
  td { padding-left: 9px !important; text-align: left !important; width: 100% !important; }
  td.fullCol { padding-left: 18px !important; }
  td.fullCol .required { left: -10px !important; }
}
*/
